.loginContainer{    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer div {
    margin-bottom: 10px;
}