.signupContainer{    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#signupButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupContainer div {
    margin-bottom: 10px;
}