{% extends 'game/base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'game/edit.css' %}">
{% endblock css %}

{% block content %}
    <form method="POST" name="frm" onSubmit="return Checkform()">
        {% csrf_token %}
        <div>
            <label for="storyboard_name">제목</label>
            <br>
            <input type="text" name="storyboard_name" value="{{ storyboard.storyboard_name }}">
        </div>
        <div>
            <label for="content">내용</label>
            <br>
            <textarea name="content" style="height: 30vh; width:60vw;">{{ storyboard.content }}</textarea>
        </div>
        <div class="statusinput">
            <label for="brave">용기 부여</label>
            
            <input id="brave" class="brave" name="brave" value="{{storyboard.brave}}" type="number" min='-10' max="10">
            <br>
            <label for="wisdom">지혜 부여</label>
            
            <input id="wisdom" class="wisdom" name="wisdom" value="{{storyboard.wisdom}}" type="number" min='-10' max="10">
            <br>
            <label for="damage">대미지(음수=힐)</label>
            
            <input id="damage" class="damage" name="damage" value="{{storyboard.damage}}" type="number" min="-10" max="10">
        </div>
        <div>
            <label for="attack">공격 선택지</label>
            <br>
            <input type="text" id="attack" name="choice_attack" value="{{ storyboard.choice_attack }}" list="attack_option">
            <datalist id="attack_option">
                {% for storyboard in storyboards %}
                <option value="{{storyboard.storyboard_name}}"></option>
                {% endfor %}
            </datalist>
        </div>
        <div>
            <label for="defence">수비 선택지</label>
            <br>
            <input type="text" id="defence" name="choice_defence" value="{{ storyboard.choice_defence }}" list="defence_option">
            <datalist id="defence_option">
                {% for storyboard in storyboards %}
                <option value="{{storyboard.storyboard_name}}"></option>
                {% endfor %}
            </datalist>
        </div>
        <button type="submit" class="button1">수정하기</button>
    </form>
    <button class="button1" onclick="openModal()">삭제하기</button>
    <div class="modal-container" onclick="closeModal()">
        <div class="modal">
            <div id="alert_message">삭제하시겠습니까?</div>
            <button type="button" onclick="location.href='/delete/{{storyboard.storyboard_name}}'">예</button>
            <button type="button" onclick="closeModal()">아니오</button>
        </div>
    </div>
<script>
    function Checkform() {
        if( frm.storyboard_name.value == "") {
            frm.storyboard_name.focus()
            alert("스토리보드명을 입력해주세요.")
            return false;
        }
        if( frm.content.value == "") {
            frm.storyboard_name.focus()
            alert("지문을 입력해주세요.")
            return false;
        }
        if( frm.choice_attack.value == "") {
            frm.storyboard_name.focus()
            alert("공격 선택지와 연결되는 스토리보드의 이름을 입력해주세요.")
            return false;
        }
        if( frm.choice_defence.value == "") {
            frm.storyboard_name.focus()
            alert("수비 선택지와 연결되는 스토리보드의 이름을 입력해주세요.")
            return false;
        }
        }


    const body = $("body");
    const modal = $(".modal-container");

    const openModal = () => {
        modal.classList.add("open");
        body.style.overflow = "hidden"
    };

    const closeModal = () => {
        modal.classList.remove("open") ;
        body.style.overflow = "auto";
    };


</script>
{% endblock content %}