{% extends 'game/base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'game/list.css' %}">
{% endblock css %}

{% block content %}
<ul class="bodyContainer">
    {% for storyboard in storyboards %}
        <li class="storyboardInfo">
            <button class="storyboardInfoContainer" onclick="location.href='/edit/{{storyboard.storyboard_name}}'">
                <div class="link">
                    <a>{{ storyboard.storyboard_name }}</a>
                </div>
                <div class="choiceContainer">
                    <div class="choice">
                        <p>공격 : {{ storyboard.choice_attack }}</p>
                    </div>
                    <div class="choice">
                        <p>수비 : {{ storyboard.choice_defence }}</p>
                    </div>
                </div>
            </button>
        </li>
    {% endfor %}
</ul>
<div class="new">
    <a href="{% url 'game:new' %}">새로운 선택지 만들기</a>
</div>

{% endblock content %}