{% extends 'game/base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/signup.css' %}" />
{% endblock css %} 
{% block content %}

<div class="signupContainer" id="signup">
    <form method="POST">
        {% csrf_token %}{% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <div>
            <input type="text" name="username" placeholder="아이디" />
        </div>
        <div>
            <input type="password" name="password" placeholder="비밀번호" />
        </div>
        <div id="signupButton">
            <button>회원가입</button>
        </div>
    </form>
</div>
{% endblock %}