ul.bodyContainer{
    display: flex;
    flex-direction: column;
    padding: 1vh;
    overflow: auto;
    max-height: 80vh;
    overflow: auto;
}

.storyboardInfoContainer {
    display: flex;
    width: 60vw;
    justify-content: space-between;
    align-items: center;
}



a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: gray;
}
a:checked{
    color: black;
}
